txt1{
    background-color: black;
    color: aliceblue;
}
txt2{
    background-color: black;
    color: aliceblue;
}

.footer{
    position:absolute;
    bottom: 0;
    width: 100%;
    height:50px;
    background-color: black;
  
}
.txt{
  text-align: center;
    color:white;
}

.txth{
   text-align: center;
    color:white;  
}